@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: rgb(48,51,107);
    --secondary-color: #be2edd;
    --modal-duration: .5s;
}

* {
    box-sizing: border-box;
}

body {
    margin:0 ;
    font-family: "Lato", sans-serif;
    transition: transform 0.3s ease;
}

body.show-nav {
    transform: translateX(200px);
}

nav {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    border-right: 2px solid rgba(200,200,200, 0.1);
    z-index: 100;
    color: white;
    transform: translateX(-100%);
}

nav .logo {
    padding: 30px 0;
    text-align: center;
}

nav .logo img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 2px solid rgba(200,200,200,0.1);
}

nav ul li:nth-of-type(1) {
    padding: 20px;
    border-bottom: 2px solid rgba(200,200,200,0.1);
}

header {
    background-color: var(--primary-color);
    color: white;
    font-size: 130%;
    position: relative;
    padding: 40px 15px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header p {
    margin: 30px 0;
}

button,
input[type='submit'] {
    background-color: var(--secondary-color);
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 8px 12px;
    cursor: pointer;
}

.toggle {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 20px;
    left: 20px;
}

.cta-btn {
    padding: 12px 30px;
    font-size: 20px;
}

.container {
    padding: 15px;
    margin: 0 auto;
    width: 800px;
    max-width: 100;
}


.modal-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    display: none;
}

.modal-container.show-modal {
    display: block;
}

.modal {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    animation-name: modalopen;
    animation-duration: var(--modal-duration);
}

@keyframes modalopen {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-header {
    background-color: var(--primary-color);
    color: white;
    padding: 15px;
}

.modal-header h3 {
    margin: 0;
    border-bottom: 1px solid #333;
}

.modal-content {
    padding: 20px;
}

.modal-form div {
    margin: 15px 0;
}

.modal-form label {
    display: block;
    margin-bottom: 5px;
}

.modal-form .form-input {
    padding: 8px;
    width: 100%;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    font-size: 25px;
}








.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    background-color: rgb(22, 22, 22);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav.active a {
    color: rgb(239, 239, 239);
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: rgb(192,57,43);
    font-weight: bold;
}

.dropbtn {
    background-color: rgb(0, 0, 0);
    color: rgb(34, 34, 34);
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(34, 34, 34);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav.active a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.homebtn, .aboutbtn {
    background-color: rgb(0, 0, 0);
    color: rgb(34, 34, 34);
    padding: 16px;
    font-size: 16px;
    border: none;
}
