
body {
    background-color: purple;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Mulish", sans-serif;

}

.btn {
    background-color: rgb(245, 203, 255);
    font-size: 1.2rem;
}



