@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    background-color: purple;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: "Mulish", sans-serif;

}

.btn {
    background-color: rgb(245, 203, 255);
    font-size: 1.4rem;
    padding: 1.5rem 3rem;
    margin: .45rem;
    border-radius: 5px;
    border: none;
    color: rgb(50,40,50);
    font-family: "Poppins", sans-serif;

}

.btn:hover {
    opacity: 0.9;
}






.nav {
    position: fixed;
    background-color: #222;
    top: 0;
    left: 0;
    right: 0;
    transition: all 0.3s ease-in-out;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    transition: all 0.3s ease-in-out;
}

.nav.active {
    background-color: rgb(22, 22, 22);
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.nav.active a {
    color: rgb(239, 239, 239);
}

.nav.active .container {
    padding: 10px 0;
}

.nav a.current,
.nav a:hover {
    color: rgb(192,57,43);
    font-weight: bold;
}

.dropbtn {
    background-color: rgb(0, 0, 0);
    color: rgb(34, 34, 34);
    padding: 16px;
    font-size: 16px;
    border: none;
  }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown .dropbtn {
    font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(34, 34, 34);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav.active a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.homebtn, .aboutbtn {
    background-color: rgb(0, 0, 0);
    color: rgb(34, 34, 34);
    padding: 16px;
    font-size: 16px;
    border: none;
}
